// Font Family
$font-family-logo:              'carrara-lig', serif;
$font-family-default:  			"Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light",  Helvetica, Arial, "Lucida Grande", sans-serif;
$font-family-header:  			"carrara-lig", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
$font-family-mono: 				"Inconsolata", monospace;
$font-family-serif:				"Georgia", "Times", "Times New Roman", serif;

$icons: 						"FontAwesome";

